body{
  background-color: #4efdd1;
  color: #4965FF;
}

input{
  background-color: #FFA9E1;
}

.column-left{
  float:left;
  width: 33%;
}

.column-middle{
  display: inline-block;
  width: 33%;
}

.column-right{
  float: right;
  width: 33%;
}
